name: Event-Crawler Docker Publish

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      use-github-token:
        required: true
        type: boolean

  push:
    branches: [ "dev" ]


jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: dev

      - name: Call reusable docker publish
        uses: ./.github/workflows/reusable-docker-publish.yml
        with:
          image-name: event-crawler
          use-github-token: true