name: Event-Crawler Docker Publish (Final Build)

on:
  push:
    branches: [ "dev" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: dev

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: GHCR login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image (ARM64)
        run: |
          docker buildx build \
            --platform linux/arm64 \
            -t ghcr.io/${{ github.repository_owner }}/event-crawler:latest \
            --push .